@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body
{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-family: 'Poppins', sans-serif;
}
   
.numeros
{
    font-size: 2.5rem;
}

.numeros input[type="submit"]
{
    font-size: 4rem;
    padding: 1rem;
    font-size: 2rem;
    width: 20%;
    border-radius: 1rem;
}

.numeros label[for="num1"]
{
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    padding: 1rem;
    font-size: 2rem;
    width: 20%;
    border-radius: 1rem;
}
.numeros label[for="num2"]
{
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    padding: 1rem;
    font-size: 2rem;
    width: 20%;
    border-radius: 1rem;
}

.custom-font
{
    font-family: 'Poppins', sans-serif;
}

  